@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

* {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #353535;
    line-height: 28px;
    font-weight: 400;
    background: #ffffff;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ff7a00;
}

a:hover,
a:focus,
a:visited{
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-weight: normal;
    margin: 0;
    background: none;
    line-height: 1.2em;
    color: #000;
}


h1 {
    font-weight: 600;
    font-size: 50px;
}

h2 {
    font-weight: 600;
    font-size: 44px;
}

h3 {
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #181818;
    transition: all 0.4s ease-in-out 0s;
}

.loader > span {
    background: #ffffff;
    border-radius: 50%;
    margin: 5rem 0.5rem;
    animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bouncingLoader {
    from {
        width: 0.1rem;
        height: 0.1rem;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    to {
        width: 1rem;
        height: 1rem;
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

#app {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 99;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all .3s ease;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__brand, .footer__brand {
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    color: #fff;
}

.navbar__brand span, .footer__brand span {
    color: orange;
}

.navbar__brand i, .footer__brand i {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
    float: left;
    margin-right: 35px;
    transition: all 300ms ease;
}

.navbar__item:last-child {
    margin-right: 0;
}

.navbar__link {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

.navbar__link:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    content: "";
    background-color: orange;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.navbar__item:hover .navbar__link:before,
.navbar__item.navbar__item--current .navbar__link:before {
    transform: scale(1, 1);
    transform-origin: bottom left;
}

.navbar.stick {
    height: 60px;
    background-color: #181818;
}

.welcome-section {
    background: url("../images/bg.jpg") center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.welcome-section--second {
    height: 350px;
}

.welcome-section--projects {
    background-image: url("../images/projects/welcome.jpg");
    background-position: center;
}

.welcome-section--services {
    background-image: url("../images/services/welcome.jpg");
    background-position: center 20%;
}

.welcome-section--team {
    background-image: url("../images/team/welcome.jpg");
    background-position: center 20%;
}

.welcome-section--contact {
    background-image: url("../images/contact/welcome.jpg");
    background-position: center 30%
}

.welcome-section__overlay {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}



.welcome-section__title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 80px;
}

.welcome-section__title--home {
    padding: 20px;
    border-right: 10px solid #ff7a00;
    border-bottom: 10px solid #ff7a00;
}

.welcome-section__nav {
    font-size: .8rem;
}

.welcome-section__nav a {
    color: white;
}

.horizontal-section {
    background-color: #fafafa;
    padding-top: 40px;
}

.horizontal-section__container {
    max-width: 1200px;
    margin: 0 auto;
}

.horizontal-section__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
}

.horizontal-section__title:before {
    position: absolute;
    left: 25%;
    bottom: -20px;
    height: 5px;
    width: 50%;
    content: "";
    background-color: orange;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card-grid--1 {
    grid-area: 1 / 1 / 3 / 2;
}
.card-grid--2 {
    grid-area: 1 / 2 / 2 / 3;
}
.card-grid--3 {
    grid-area: 1 / 3 / 2 / 4;
}
.card-grid--4 {
    grid-area: 2 / 2 / 3 / 3;
}
.card-grid--5 {
    grid-area: 2 / 3 / 3 / 4;
}

.card-grid__box {
    background-size: cover;
    color: black;
    padding: 25px;
    transition: all 0.2s 0s ease;
    border-bottom: 10px solid #181818;
    border-right: 10px solid #181818;
}

.card-grid__box:hover {
    border-right: 10px solid orange;
    border-bottom: 10px solid orange;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.card-grid__box:hover .card-grid__title {
    color: orange;
}

.card-grid__overlay {
    transition: all 0.2s 0s ease;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.card-grid__title {
    font-size: 18px;
    color: black;
}

.card-grid__description {
    font-size: 13px;
}

.projects {
    border-right: 10px solid #181818;
    padding: 0 10px 10px 0;
    border-bottom: 10px solid #181818;
    margin-bottom: 20px;
}

.projects__gallery {
    width: 100%;
    overflow: hidden;
}

.projects-item {
    position: relative;
    overflow: hidden;
    width: 50%;
}

.projects-item--w50 {
    width: 100%;
}

.projects-item__overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.projects-item:hover .projects-item__overlay {
    opacity: 1;
}

.projects-item__image {
    display: block;
    width: 100%;
}

.projects-item__details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.projects-item:hover .projects-item__details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.projects-item__details--bottom {
    top: 80%;
}

.projects-item__details--top {
    top: 20%;
}

.projects-item__details--left {
    left: 20%;
}

.projects-item__details--right {
    left: 80%;
}

.projects-item__name {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.projects-item__description {
    color: #fff;
    font-size: 0.8em;
}

.footer {
    height: 300px;
    color: #909090;
    background: rgb(24, 24, 24);
    box-shadow: inset 0 5px 10px 0 black;
    margin-top: 25px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.footer__brand {
    font-size: 3rem;
}

.footer__brand i {
    font-size: 2rem;
}

.footer__info {
    margin: 20px 0;
}

.footer__box--left {
    width: 40%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__box--center {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

.footer__box--right {
    width: 30%;
    margin-top: 25px;
}

.footer__title {
    color: #fafafa;
    padding: 10px 10px 10px 0;
    font-weight: 100;
}

.footer__title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.footer__item {
    margin-bottom: 10px;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
}

.footer__item:hover {
    transform: translate(6px,0);
}

.footer__item a {
    color: #909090;
}

.footer_link {
    font-size: 12px;
    color: #909090;
}

.footer_link:hover {
    color: white;
}

.footer_link:before {
    font-family: 'FontAwesome', serif;
    content: "\f105";
    margin-right: 10px;
}

.copyright {
    width: 100%;
    background-color: #0a0a0a;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

.clients__link {
    filter: grayscale(1);
    transition: all .2s ease;
}

.clients__link:hover {
    filter: grayscale(0);
}

.footer__social {
    font-size: 20px;
}

.footer__social__item {
    margin-left: 10px;
    color: #909090;
}

.footer__social__item:hover {
    color: #afafaf;
}

.team-box__introduction {
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
}

.team-section {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.team-boxes {
    display: flex;
    justify-content: space-between;
}

.team-box {
    padding: 15px 15px;
    text-align: center;
    transition: all .5s ease;
    border-right: 10px solid #181818;
    border-bottom: 10px solid #181818;
    margin-right: 10px;
}

.team-box:hover {
    border-right: 10px solid orange;
    border-bottom: 10px solid orange;
    box-shadow: 0 0 2px rgba(0,0,0,.2);;
}

.team-box:last-child {
    margin-right: 0;
}

.team-box__name {
    font-size: 17px;
    margin-bottom: 0;
}

.team-box__profession {
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    display: block;
}

.team-box__description {
    font-size: 12px;
    margin-top: 5px;
}

.team-box__img {
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #00000096;
}

.team-box__social {
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}

.team-box__social__item {
    color: currentColor;
}

.contact {
    display: flex;
    height: 400px;
}

.contact__map {
    width: 50%;
    padding: 0 10px 10px 0;
    border-right: 10px solid #181818;
    border-bottom: 10px solid #181818;
    margin-right: 5px;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    padding: 10px;
    border-right: 10px solid #181818;
    border-bottom: 10px solid #181818;
}

.form-control {

}

.contact__control {

}

.contact__label {
    display: flex;
    flex-direction: column;
}

.contact__input {
    font-size: 14px;
    padding: 8px 12px;
    background: transparent;
    border-bottom: 2px solid #d2d2d2;
    transition: all .2s ease-in;
}

.contact__input:focus {
    border-color: orange;
}

.contact__textarea {
    resize: none;
}

.contact__button {
    padding: 8px 0;
    background: #e8e8e8;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #181818;
}

.contact__button:hover {
    cursor: pointer;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact__infobox {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
}

.contact__info h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.contact__infobox i {
    font-size: 30px;
}